<div class="container-fluid py-5">
    <div class="row py-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card card-signin">
                <div class="card-body">
                    <h3 class="card-title text-center">Approval Request</h3>

                    <form class="form-signin" (submit)="onSubmit()">
                        <div class="form-label-group py-1">
                            <label for="Time">Time Slot</label>
                            <select [(ngModel)]="Time" id="Time" name="Time"
                                class="form-control mb-2 rounded text-center">
                                <option disabled>Select Time</option>
                                <option value="09:00 AM - 12:00 PM">09:00 AM - 12:00 PM</option>
                                <option value="12:00 PM - 03:00 PM">12:00 PM - 03:00 PM</option>
                                <option value="03:00 PM - 06:00 PM">03:00 PM - 06:00 PM</option>
                                <option value="06:00 PM - 09:00 PM">06:00 PM - 09:00 PM</option>
                            </select>
                        </div>
                        <div class="form-label-group py-1">
                            <label for="StartDate">Start Date</label>
                            <input type="date" name="StartDate" [(ngModel)]="StartDate" class="form-control" required autofocus>
                        </div>

                        <div class="form-label-group py-1">
                            <label for="EndDate">End Date</label>
                            <input type="date" name="EndDate" [(ngModel)]="EndDate" class="form-control" required
                                autofocus>
                        </div>

                        <!-- <div class="form-label-group py-1" *ngIf="UserName_Cur">
                            <label for="yourName">Your Name</label>
                            <input type="text" name="Name" disabled value="{{UserName_Cur.userName}}" class="form-control" required
                                autofocus>
                        </div> -->

                        <div *ngIf="mentorData" class="form-label-group py-1">
                            <label for="UserName">Trainer Name</label>
                            <input type="text" name="userName" disabled value="{{mentorData.userName}}"
                                class="form-control" required autofocus>
                        </div>

                        <div *ngIf="mentorData" class="form-label-group py-1">
                            <label for="email">Trainer Email</label>
                            <input type="text" name="email" id="email" disabled value="{{mentorData.email}}"
                                class="form-control" required autofocus>
                        </div>


                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="name">Technology</label>
                            <input type="text" id="name" name="name" disabled value="{{skillData.name}}"
                                class="form-control" required autofocus>
                        </div>

                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="fees">Fees</label>
                            <input type="text" id="fees" name="fees" disabled [(ngModel)]="skillData.fees"
                                value="{{skillData.fees}}" class="form-control" required autofocus>
                        </div>


                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="toc">TOC</label>
                            <input type="text" name="toc" id="toc" disabled [(ngModel)]="skillData.toc"
                                value="{{skillData.toc}}" class="form-control" required autofocus>
                        </div>

                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="prerequisites">Rrerequisites</label>
                            <input type="text" name="prerequisites" id="prerequisites" disabled
                                [(ngModel)]="skillData.prerequisites" value="{{skillData.prerequisites}}"
                                class="form-control" required autofocus>
                        </div>

                        <button class="my-4 btn btn-lg btn-primary btn-block text-uppercase"  type="submit">Send
                            Request</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>
