<app-nav-user></app-nav-user>
<div class="jumbotron">
    <div class="container text-center">
        <h3>User Menu</h3>      
    </div>
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-md-2 ">
             
            </div>
            <div class="col-md-8 text-center">
                    <button type="button" routerLink="/SearchTrainings" class=" btn btn-outline-dark">Search Trainings</button>
                    <button type="button" routerLink="/UserMenu" class=" btn btn-outline-dark">Current Trainings</button>
                    <button type="button" routerLink="/CompletedTrainings" class="btn btn-outline-dark">Completed Trainings</button>
                    <button type="button" routerLink="/ViewRequest" class="btn btn-outline-dark">Approvals</button>
            </div>
            <div class="col-md-2">

            </div>
    </div>
    <hr>
          <div class="row">
              <div class="col-md-4"></div>

              <div class="col-md-4 text-center" >
                   <table style="margin-top: 30px; padding: 2px;">
                       <tr>
                           <td>
                               <select name="Technology" [(ngModel)]="Technology" class="form-control rounded text-center dropdown">
                                   <option disabled>Select Technologhy</option>
                                   <option *ngFor="let i of SKillData" value="{{i.name}}">{{i.name}}</option>
                                </select>
                           </td>
                           <td>
                               <!-- <select name="Timings" [(ngModel)]="Timings" class="form-control rounded text-center dropdown">
                                   <option disabled>Timings</option>
                                   <option *ngFor="let i of SKillData" value="{{i.timings}}">{{i.timings}}</option>
                               </select> -->
                           </td>
                           <td>
                                <button type="button" class="btn btn-sm btn-primary" (click)="Find()">Find</button>
                           </td>
                       </tr>
                   </table>
              </div>
              <div class="col-md-4"></div>
          </div>
    
            <div class="row">
            <div class="col-md-12 text-center">
            <div *ngIf="show" class="table-responsive" style="margin-top:30px;"> 
                <h4>Search Result for Trainings {{SKillData.name}}</h4>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                              
                                <!-- <th>Technologhy</th> -->
                                <!-- <th>Timing</th> -->
                                <th>Mentor</th>
                                <th>Experience</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of msg">
                                <!-- <td>{{Technology}}</td> -->
                                <!-- <td>{{item. TrainerTimings}}</td> -->
                                <td>{{item.firstName}} {{item.lastName}}</td>
                                <td>{{item.yearOfExperience}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" (click)="SendToMentor(item.id)">Select Mentor</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div *ngIf="show_nodata" class="table-responsive" style="margin-top:30px;"> 
                    <h4>Search Result for Trainings {{SKillData.name}}</h4>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                  
                                    <!-- <th>Technologhy</th> -->
                                    <!-- <th>Timing</th>
                                    <th>Mentor</th>
                                    <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                               <tr style="text-align: center">
                                  <h2 style="text-align: center">No Data Found</h2>
                               </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  

</div>
<app-footer></app-footer>
 