<!-- Admin Nav Start -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <a [routerLink]="['/AdminMenu']" class="navbar-brand">Cognizant Trainee</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav">
                <a routerLink="/AdminMenu" class="nav-item nav-link active">Home</a>
                <!-- <a  class="nav-item nav-link">About</a>
                <a  class="nav-item nav-link">Products</a> -->
            </div>  
            <form class="form-inline ml-auto">
                    <div class="nav-item dropdown" style="margin-right: 25px">
                            <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown">My Account</a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item">Notifications</a>
                            <a class="dropdown-item" routerLink="/" routerLinkActive="true">Logout</a>
                    </div>
                    </div>
                    <div>
                      </div>
                    <div></div>
            </form>
          
        </div>
    </nav>
<!-- Admin Nav End -->

<div class="jumbotron">
    <div class="container text-center">
        <h3>Admin Menu</h3>      
    </div>
</div>


<div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-8 text-center">
            <button type="button" routerLink="/AdminMenu" class="btn btn-outline-dark button">Add/Remove Technologhy</button>
            <button type="button" routerLink="/admincurrent" class="btn btn-outline-dark button">Trainings</button>
            <button type="button" routerLink="/blockuser" class=" btn btn-outline-dark button">Block User/Mentors</button>
            <button type="button" routerLink="/AdminPay" class=" btn btn-outline-dark button">Manage Payments</button>
        </div>
      <div class="col-md-2"></div>
</div>



<div class="container-fluid">
    <div class="row row2">
    <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
        <div class="table-responsive" style="margin-top:30px;"> 
                <h6>Block/Unblock Users</h6>
                  <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of user">
                        <td>{{item.firstName}} {{this.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.contactNumber}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-success"
                             [disabled]="item.active"
                             (click)="Unblock(item.id)">Unblock</button>
    
                            <button type="button" 
                            class="btn btn-sm btn-danger" 
                            [disabled]="!item.active" 
                            (click)="Block(item.id)">Block</button>
                        </td>
                </tr>
        </tbody>
    </table>
</div>
</div>
<div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
    <div class="table-responsive" style="margin-top:30px;"> 
            <h5>Block/Unblock Mentors</h5>
              <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact No</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let item of mentor">
                    <td>{{item.firstName}} {{this.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.contactNumber}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success"
                         [disabled]="item.active"
                         (click)="Unblock(item.id)">Unblock</button>

                        <button type="button" 
                        class="btn btn-sm btn-danger" 
                        [disabled]="!item.active" 
                        (click)="Block(item.id)">Block</button>
                    </td>
            </tr>
    </tbody>
</table>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>

<app-footer></app-footer>
