<app-nav-home></app-nav-home>
<div class="container-fluid py-3">
      <div class="row py-5">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <div class="card card-signin">
                  <div class="card-body">
                      <h3 class="card-title text-center">Trainer Register</h3>
                      <div class="form-row">
                          <div class="form-group col">
                              <form class="form-signin" [formGroup]="UserRegister" autocomplete="off"
                                  (submit)="onSubmit()">
                                  <div class="form-row">
                                      <div class="form-group col required">
                                          <label>First Name</label>
                                          <input class="form-control" formControlName="firstName">
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.required">This
                                              field is mandatory</small>
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.pattern">firstName
                                              cannot have special characters or digits</small>
                                      </div>
                                      <div class="form-group col required">
                                          <label>Last Name</label>
                                          <input class="form-control" formControlName="lastName">
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.required">This
                                              field is mandatory</small>
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.pattern">lastName
                                              cannot have special characters or digits</small>
                                      </div>
                                  </div>
                                  <div class="form-group required">
                                      <label>Email</label>
                                      <input class="form-control" formControlName="Email">
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Email').touched && UserRegister.get('Email').errors?.required">This
                                          field is mandatory</small>
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Email').touched && UserRegister.get('Email').errors?.pattern">Invalid
                                          Email Address</small>
                                  </div>
  
                                  <div class="form-group required">
                                      <label>Phone Number</label>
                                      <input class="form-control" formControlName="Phone">
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Phone').touched && UserRegister.get('Phone').errors?.required">This
                                          field is mandatory</small>
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Phone').touched && UserRegister.get('Phone').errors?.pattern">Invalid
                                          Phone Number</small>
                                  </div>
  
                                  <div class="form-row" formGroupName="Passwords">
                                      <div class="form-group col required">
                                          <label>Enter Password</label>
                                          <input type="password" class="form-control" formControlName="Password">
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('Passwords.Password').touched && UserRegister.get('Passwords.Password').errors?.required">This
                                              field is mandatory</small>
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('Passwords.Password').touched && UserRegister.get('Passwords.Password').errors?.minlength">Minimun
                                              8 characters required</small>
                                      </div>
                                      <div class="form-group col required">
                                          <label>Confirm Password</label>
                                          <input type="password" class="form-control" formControlName="ConfirmPassword">
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('Passwords.ConfirmPassword').touched && UserRegister.get('Passwords.ConfirmPassword').errors?.required">This
                                              field is mandatory</small>
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('Passwords.ConfirmPassword').touched && UserRegister.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                                              Password does not match</small>
                                      </div>
                                  </div>
  
                                  <div class="form-group required">
                                      <label>Linkedin Url</label>
                                      <input class="form-control" formControlName="LinkedinURL">
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('LinkedinURL').touched && UserRegister.get('LinkedinURL').errors?.required">This
                                          field is mandatory</small>
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('LinkedinURL').touched && UserRegister.get('LinkedinURL').errors?.pattern">Invalid
                                          Linkedin Url </small>
                                  </div>
                                  <div class="form-group required">
                                      <label>Experience</label>
                                      <input class="form-control" formControlName="Experience">
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Experience').touched && UserRegister.get('Experience').errors?.required">This
                                          field is mandatory</small>
                                      <small class="text-danger"
                                          *ngIf="UserRegister.get('Experience').touched && UserRegister.get('Experience').errors?.pattern">Invalid
                                          Experience in number
                                      </small>
                                  </div>
                                  <!-- <div class="form-row"> -->
                                      <!-- <div class="form-group  required">
                                          <label>Timings</label>
                                          <select formControlName="Timings" class="form-control rounded text-center dropdown">
                                              <option *ngFor="let i of SKillData" value="{{i.timings}}">{{i.timings}}</option>
                                          </select>
                                          <small class="text-danger"
                                              *ngIf="UserRegister.get('Timings').touched && UserRegister.get('Timings').errors?.required">This
                                              field is mandatory</small>
                                      </div> -->

                                      <div class="form-group  required">
                                          <label>Technology</label>
                                          <select formControlName="Technology" class="form-control rounded text-center dropdown">
                                                <option *ngFor="let i of SKillData" value="{{i.name}}">{{i.name}}</option>
                                          </select>
                                          <small class="text-danger"
                                          *ngIf="UserRegister.get('Technology').touched && UserRegister.get('Technology').errors?.required">This
                                          field is mandatory</small>
                                      </div>

                                  <!-- </div> -->
                                  <div class="form-row my-1">
                                      <div class="form-group col-md-12">
                                          <button class="btn btn-lg btn-primary btn-block login"
                                              [disabled]="!UserRegister.valid">Register</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>