USE [master]
GO
/****** Object:  Database [MOD_DB]    Script Date: 10/3/2019 6:25:58 PM ******/
CREATE DATABASE [MOD_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOD_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MOD_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOD_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MOD_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOD_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOD_DB]
GO
USE [MOD_DB]
GO
/****** Object:  Table [dbo].[PaymentDtls]    Script Date: 10/3/2019 6:25:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDtls](
	[id] [int] NOT NULL,
	[txtType] [varchar](50) NULL,
	[amount] [float] NULL,
	[remarks] [varchar](50) NULL,
	[mentorId] [int] NOT NULL,
	[mentorName] [varchar](50) NULL,
	[trainingId] [int] NOT NULL,
	[skillName] [varchar](50) NULL,
	[totalAmountToMentor] [float] NULL,
 CONSTRAINT [PK_PaymentDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillDtls]    Script Date: 10/3/2019 6:25:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillDtls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[toc] [varchar](50) NULL,
	[prerequisites] [nchar](10) NULL,
	[timings] [varchar](50) NULL,
 CONSTRAINT [PK_SkillDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingDtls]    Script Date: 10/3/2019 6:25:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingDtls](
	[id] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[progress] [int] NULL,
	[commisionAmount] [float] NULL,
	[rating] [int] NULL,
	[avaRating] [float] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[amountReceived] [float] NULL,
	[userId] [int] NOT NULL,
	[userName] [varchar](50) NULL,
	[mentorId] [int] NOT NULL,
	[mentorName] [varchar](50) NULL,
	[skillId] [int] NOT NULL,
	[skillname] [varchar](50) NULL,
	[fees] [float] NULL,
 CONSTRAINT [PK_TrainingDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDtls]    Script Date: 10/3/2019 6:25:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDtls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[firstName] [char](50) NOT NULL,
	[lastName] [char](50) NOT NULL,
	[contactNumber] [numeric](10, 0) NOT NULL,
	[regCode] [varchar](50) NULL,
	[role] [int] NOT NULL,
	[linkdinUrl] [varchar](50) NULL,
	[yearOfExperience] [int] NULL,
	[active] [bit] NOT NULL,
	[confirmedSignUp] [bit] NULL,
	[resetPasswordDate] [datetime] NULL,
	[resetPassword] [bit] NULL,
	[pictureUrl] [varchar](50) NULL,
 CONSTRAINT [PK_UserDtls] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SkillDtls] ON 

INSERT [dbo].[SkillDtls] ([id], [name], [toc], [prerequisites], [timings]) VALUES (11, N'Java', N'Java', N'C,C++     ', N'9am-10am')
SET IDENTITY_INSERT [dbo].[SkillDtls] OFF
SET IDENTITY_INSERT [dbo].[UserDtls] ON 

INSERT [dbo].[UserDtls] ([id], [email], [userName], [password], [firstName], [lastName], [contactNumber], [regCode], [role], [linkdinUrl], [yearOfExperience], [active], [confirmedSignUp], [resetPasswordDate], [resetPassword], [pictureUrl]) VALUES (1, N'admin@gmail.com', N'Admin', N'1234', N'Admin                                             ', N'Admin                                             ', CAST(8427561776 AS Numeric(10, 0)), NULL, 1, NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserDtls] ([id], [email], [userName], [password], [firstName], [lastName], [contactNumber], [regCode], [role], [linkdinUrl], [yearOfExperience], [active], [confirmedSignUp], [resetPasswordDate], [resetPassword], [pictureUrl]) VALUES (2, N'souravkainth@outlook.com', N'kainthsourav', N'1234', N'Kainth                                            ', N'Sourav                                            ', CAST(8427561676 AS Numeric(10, 0)), NULL, 2, NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserDtls] ([id], [email], [userName], [password], [firstName], [lastName], [contactNumber], [regCode], [role], [linkdinUrl], [yearOfExperience], [active], [confirmedSignUp], [resetPasswordDate], [resetPassword], [pictureUrl]) VALUES (4, N'souravkainth@yts.com', N'souravkainth@yts.com', N'123456789', N'Sourav                                            ', N'Kainth                                            ', CAST(8427167611 AS Numeric(10, 0)), NULL, 2, N'www.linkdin.com', 45, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserDtls] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__AB6E616455CCF88D]    Script Date: 10/3/2019 6:25:58 PM ******/
ALTER TABLE [dbo].[UserDtls] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrainingDtls]  WITH CHECK ADD  CONSTRAINT [FK_TrainingDtls_SkillDtls1] FOREIGN KEY([skillId])
REFERENCES [dbo].[SkillDtls] ([id])
GO
ALTER TABLE [dbo].[TrainingDtls] CHECK CONSTRAINT [FK_TrainingDtls_SkillDtls1]
GO
USE [master]
GO
