body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  }
  .img{
  vertical-align: baseline;
  width: 200px;
  }
  #intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background:url("../../../../assets/imgs/intro-bg.jpg") center top no-repeat;
  background-size: cover;
  }
  #intro .intro-info h2 {
  color: #413e66;
  margin-top: 50px;
  /* margin-bottom: 30px; */
  font-size: 48px;
  font-weight: 700;
  }
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
  }
  .section-header h3 {
  padding-top: 10px;
  text-transform: uppercase;
  color: #413e66;
  text-align: center;
  /* position: relative; */
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  }
  .team-header h4
  {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
  }
  .mt-3, .my-3 {
  margin-top: 1rem!important;
  text-align: center;
  }
  /* Team */
  .pm-staff-profile-image{
  width: 150px;
  height: 150px;
  background-color: #C6C6C6;
  border-radius: 50%;
  display: inline-block;
  }
  .pm-staff-profile-details {
  padding: 20px 20px;
  }
  .pm-staff-profile-name {
  font-size: 24px;
  text-transform: capitalize;
  color: #2b5d83;
  }
  .pm-staff-profile-title {
  text-transform: capitalize;
  color: #4b4b4b;
  font-weight: 500;
  /* padding: 12px 0px; */
  }
  .pm-staff-profile-bio {
  text-transform: capitalize;
  font-style: oblique;
  color: #4b4b4b;
  font-weight: 100;
  }

  /* Animation */

  #anime
  {  
  /* animation: myFirst 5s; */
  animation: bounce 3s;
  }

  @keyframes bounce {
    0%,50%,100%{top:0px}
    25%,75%{top: 50px}
}