<div class="container-fluid">
  <div class="row py-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
      <div style="background-color: white; padding: 20px; margin-top: 50px" class="rounded">

          <form [formGroup]="UserLogin" autocomplete="off" (submit)="onSubmit()">

              <div class="form-group required">
                <label>Email</label>
                <input class="form-control" formControlName="Email">
                <small class="text-danger" *ngIf="UserLogin.get('Email').touched && UserLogin.get('Email').errors?.required">This field is mandatory</small>
                <small class="text-danger" *ngIf="UserLogin.get('Email').touched && UserLogin.get('Email').errors?.pattern">Invalid Email Address</small>
              </div>
        
            <div class="form-group required">
                  <label>Enter Password</label>
                  <input type="password" class="form-control" formControlName="Password">
                  <small class="text-danger" *ngIf="UserLogin.get('Password').touched && UserLogin.get('Password').errors?.required">This field is mandatory</small>
                  <small class="text-danger" *ngIf="UserLogin.get('Password').touched && UserLogin.get('Password').errors?.minlength">Minimun 8 characters required</small>
            </div>
            

              <div class="form-row">
                <div class="form-group col-md-12" style="text-align: center">
                  <button class="btn btn-primary" [disabled]="!UserLogin.valid" >Sign in</button>
                </div>
              </div>
            </form>
    

      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- <app-footer></app-footer> -->