<div class="container-fluid">
  <div class="row py-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
      <div style="background-color: white; padding: 20px" class="rounded">

          <form [formGroup]="MyForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && MyForm.controls.email.errors }" />
                <div *ngIf="submitted &amp;&amp; MyForm.controls.email.errors" class="text-danger">
                  <div *ngIf="MyForm.controls.email.errors.required">Email is required</div>
                  <div *ngIf="MyForm.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && MyForm.controls.password.errors }"  />
                <div *ngIf="submitted &amp;&amp; MyForm.controls.password.errors" class="text-danger">
                  <div *ngIf="MyForm.controls.password.errors.required">Password is required</div>
                  <div *ngIf="MyForm.controls.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group" style="text-align: center">
                <button class="btn btn-primary">Sign in</button>
              </div>
          <p style="text-align: center">Don't have account? <a routerLink="/signup" class="button">Sign Up</a></p>
        </form>

      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<!-- <app-footer></app-footer> -->