<app-nav-user></app-nav-user>

<div class="jumbotron">
    <div class="container text-center">
        <h3>Trainer Menu</h3>      
    </div>
</div>

<div class="container-fluid">
        <div class="row">
                <div class="col-md-2 ">
                   
                </div>
                <div class="col-md-8 text-center">
                        <button type="button"  routerLink="/TrainerMenu" class=" btn btn-outline-dark">Current Trainings</button>
                        <button type="button" routerLink="/TcompleteTraining" class=" btn btn-outline-dark" >Completed Trainings</button>
                        <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark">Edit Skills</button>
                        <button type="button" routerLink="/RequestedTrainings" class=" btn btn-outline-dark">Training Requested</button>
                        <button type="button" routerLink="/PaymentDetails" class=" btn btn-outline-dark">Payment Details</button>
                </div>
                <div class="col-md-2">
  
                </div>
        </div>

        <div class="row">
                <div class="col-md-12 text-center">
                <div class="table-responsive" style="margin-top:30px;"> 
                        <h4>Completed Trainings</h4>
                          <table class="table">
                <thead class="thead-dark">
                    <tr>
                      
                        <th>Technologhy</th>
                        <th>Duration</th>
                        <th>Progress</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>C</td>
                        <td>6 Weeks</td>
                        <td>
                                <div class="progress">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">Completed</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            <td>OOPS</td>
                            <td>8 Weeks</td>
                            <td>
                                    <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">Completed</div>
                                </div>
                            </td>
                    </tr>

                    <tr>
                            <td>Angular</td>
                            <td>4 Weeks</td>
                            <td>
                                    <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">Completed</div>
                                </div>
                            </td>
                    </tr>
                       
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
