<app-nav-user></app-nav-user>

<div class="jumbotron">
    <div class="container text-center">
        <h3>Trainer Menu</h3>      
    </div>
</div>

<div class="container-fluid">
        <div class="row">
                <div class="col-md-2 ">
                   
                </div>
                <div class="col-md-8 text-center">
                  <button type="button"  routerLink="/" class=" btn btn-outline-dark">Current Trainings</button>
                  <button type="button" routerLink="/" class=" btn btn-outline-dark" >Completed Trainings</button>
                  <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark">Edit Skills</button>
                  <button type="button" routerLink="/PaymentDetails" class=" btn btn-outline-dark">Payment Details</button>
                </div>
                <div class="col-md-2">
  
                </div>
        </div>


        <div class="row">
                <p>Payment Details</p>
        </div>
      </div>

<app-footer></app-footer>
