
<footer class="footer font-small unique-color-dark">
        <div class="container text-center text-md-left mt-5">
          <div class="row mt-3">
         
            <div class="col-lg-1 mt-4"></div>
    
            <div class="col-lg-3 mt-4">
                <h6>Our Vision</h6>
                <hr>
    <p>Provide quality, cost-effective training designed to increase individual and organizational productivity and enrichment
      and Provide development opportunities that enhance knowledge, develop skills and enrich the organization.
    </p>  
              </div>
    
            <div class="col-lg-1 mt-4"></div>
    
            <div class="col-lg-3 mt-4">
                <h6>About us</h6>
                <hr>
                   <p>
                      Cognizant is an American multinational corporation that provides IT services, including digital, technology, consulting, and operations services. It is headquartered in Teaneck, New Jersey, United States
                   </p>
      
              </div>
    
              <div class="col-lg-1 mt-4"></div>
    
            <div class="col-lg-3 mt-4">
                <h6>Contact us</h6>
                <hr>
                <p>Address : Cognizant Technology Solutions U.S. Corporation Headquarters 211 Quality Circle</p>
                    <p> Email : Trainee@Cognizant.com</p>
                    <p>Tel: +54 11 4876 0900</p>
                
              </div>
          </div>
        </div>
        <div class="footer-copyright text-center py-3">
         <p> &copy; 2019 Copyright Cognizant Trainee</p>
        </div>
      </footer>
    