footer
{
    background-color: #007bff;
    position: relative;
    bottom: 0;
    width: 100%;
}
h6{
   
    font-variant-caps: petite-caps;
    color: white;
    font: bold;
    font-size: 20px;
}
p{
    color: white;
}