<app-nav-user></app-nav-user>

<div class="jumbotron">
    <div class="container text-center">
        <h3>Trainer Menu</h3>      
    </div>
</div>

<div class="container-fluid">
        <div class="row">
                <div class="col-md-2 ">
                   
                </div>
                <div class="col-md-8 text-center">
                        <button type="button"  routerLink="/TrainerMenu" class=" btn btn-outline-dark">Current Trainings</button>
                        <button type="button" routerLink="/TcompleteTraining" class=" btn btn-outline-dark" >Completed Trainings</button>
                        <button type="button" routerLink="/EditSkills" class=" btn btn-outline-dark">Edit Skills</button>
                        <button type="button" routerLink="/RequestedTrainings" class=" btn btn-outline-dark">Training Requested</button>
                        <button type="button" routerLink="/PaymentDetails" class=" btn btn-outline-dark">Payment Details</button>
                </div>
                <div class="col-md-2">
  
                </div>
        </div>

        <div class="row">
        
            <div class="col-md-12 text-center">
            <div class="table-responsive" style="margin-top:30px;"> 
                    <h4>Current Trainings</h4>
                      <table class="table">
            <thead class="thead-dark">
                <tr>
                  
                    <th>Technologhy</th>
                    <th>Username</th>
                    <th>Duration</th>
                    <th>Progress</th>
                   
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let i of myTrainings">
                            <td>{{i.skillname}}</td>
                            <td>{{i.userName}}</td>
                            <td>{{i.startDate | date: 'dd/MM/yyyy'}} to {{i.endDate | date: 'dd/MM/yyyy'}}</td>
                            <!-- <td>{{i.timeSlot}}</td> -->
                            <td *ngIf="i.status!=undefined">
                              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                                  {{i.status}}
                              </div>
                            </td>
                            <td *ngIf="i.status==undefined">
                                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 100%">
                                    Pending
                                </div>
                            </td>
                        </tr>
                <tr *ngIf="Data" style="text-align: center">
                    <div>
                            <h2>No Records Found</h2>
                    </div>
                  
                </tr>
            </tbody>
        </table>
                </div>
                </div>
              </div>
      </div>

<app-footer></app-footer>
