<app-nav-user></app-nav-user>
<div class="jumbotron">
    <div class="container text-center">
        <h3>User Menu</h3>      
    </div>
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-md-2">
             
            </div>
            <div class="col-md-8 text-center">
              <button type="button" routerLink="/SearchTrainings" class=" btn btn-outline-dark">Search Trainings</button>
              <button type="button" routerLink="/UserMenu" class=" btn btn-outline-dark">Current Trainings</button>
              <button type="button" routerLink="/CompletedTrainings" class="btn btn-outline-dark">Completed Trainings</button>
              <button type="button" routerLink="/ViewRequest" class="btn btn-outline-dark">Approvals</button>
            </div>
            <div class="col-md-2">

            </div>
    </div>
 

  <div class="row">
    <div class="col-md-12 text-center">
    <div class="table-responsive" style="margin-top:30px;"> 
      <h4>Completed Trainings</h4>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Technologhy</th>
            <th>Duration</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>C</td>
          <td>6 Weeks</td>
          <td>
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
            A+
            </div>
          </td>
        </tr>
        <tr>
          <td>OOPS</td>
          <td>8 Weeks</td>
          <td>
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
              A
            </div>
          </td>
        </tr>
        <tr>
                <td>Java</td>
                <td>10 Weeks</td>
                <td>
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                                B+
                            </div>
                </td>
        </tr>

        <tr>
                <td>PHP</td>
                <td>6 Weeks</td>
                <td>
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                                A+
                            </div>
                </td>
        </tr>

        <tr>
                <td>ASP.NET</td>
                <td>10 Weeks</td>
                <td>
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                                A+
                            </div>
                </td>
        </tr>
        
    </tbody>
</table>
        </div>
       
        </div>
</div>  
</div>

  <app-footer></app-footer>