<app-nav-user></app-nav-user>
<div class="jumbotron">
    <div class="container text-center">
        <h3>User Menu</h3>      
    </div>
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-md-2 ">
             
            </div>
            <div class="col-md-8 text-center">
              <button type="button" routerLink="/SearchTrainings" class=" btn btn-outline-dark">Search Trainings</button>
              <button type="button" routerLink="/CompletedTrainings" class=" btn btn-outline-dark">Current Trainings</button>
              <button type="button" routerLink="/CurrentTrainings" class="btn btn-outline-dark">Completed Trainings</button>
            </div>
            <div class="col-md-2">

            </div>
    </div>

    <div class="row">
        <div class="col-md-2 ">
         
        </div>
        <div class="col-md-8 text-center">
         <p>SearchTrainings</p>
        </div>
        <div class="col-md-2">

        </div>
</div>
</div>
<app-footer></app-footer>
 