<app-nav-user></app-nav-user>

<div class="jumbotron">
    <div class="container text-center">
        <h3>Admin Menu</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8 text-center">
            <button type="button" routerLink="/AdminMenu" class="btn btn-outline-dark button">Add/Remove Technologhy</button>
            <button type="button" routerLink="/AdminMenu" class="btn btn-outline-dark button">Trainings</button>
            <button type="button" routerLink="/blockuser" class=" btn btn-outline-dark button">Block User/Mentors</button>
            <button type="button" routerLink="/AdminPay" class=" btn btn-outline-dark button">Manage Payments</button>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="table-responsive" style="margin-top:30px;">
                <h4>Add/Remove Technology</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>

                            <th>Technologhy</th>
                            <th>TOC</th>
                            <th>Prerequisites</th>
                            <!-- <th>Timings</th> -->
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input name="name" placeholder="Enter Name" class="rounded" [(ngModel)]="name"></td>
                            <td><input name="toc" placeholder="Enter Details" class="rounded" [(ngModel)]="toc"></td>
                            <td><input name="prerequisites" placeholder="Prerequisites" class="rounded" [(ngModel)]="prerequisites"></td>
                            <!-- <td>
                            <select class="rounded dropdown" name="timings"  [(ngModel)]="timings" >
                                <option value="09:00 AM - 12:00 PM">09:00 AM - 12:00 PM</option>
                                
                                <option value="12:00 PM - 03:00 PM">12:00 PM - 03:00 PM</option>
                                
                                <option value="03:00 PM - 06:00 PM">03:00 PM - 06:00 PM</option>
                                
                                <option value="06:00 PM - 09:00 PM">06:00 PM - 09:00 PM</option>
                              </select>
                            </td> -->
                            <!-- <td><input name="timings" placeholder="Timings" class="rounded"  [(ngModel)]="timings"></td> -->
                            <td><button type="button" class="btn btn-sm btn-success" (click)="Add()">Add</button></td>
                        </tr>
                        <tr *ngFor="let item of SkillList">
                            <td>{{item.name}}</td>
                            <td>{{item.toc}}</td>
                            <td>{{item.prerequisites}}</td>
                            <!-- <td>{{item.timings}}</td> -->
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" (click)="Delete(item.id)">Delete</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>