<app-nav-index></app-nav-index>

<section id="intro" class="clearfix">
   <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
         <div class="col-md-6 intro-info order-md-first order-last">
            <h2>LEARNING EXPERIENCE REDEFINED<br><span></span></h2>
            <div>
               <a routerLink="/login" class="btn-get-started scrollto">Get Started</a>
            </div>
         </div>
         <div class="col-md-6 intro-img order-md-last order-first">
            <img src="assets/imgs/intro-img.svg" alt="" class="img-fluid">
         </div>
      </div>
   </div>
</section>


<section>
    <div class="container text-align: center;">
       <header class="team-header pl-5">
          <h4>Meet Our Faculty Member</h4>
       </header>
       <div class="row mt-3">
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="pm-staff-profile-container">
                <div class="pm-staff-profile-image-wrapper text-center">
                  <div class="pm-staff-profile-image">
                    <img src="assets/imgs/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                  </div>
                </div>
                <div class="pm-staff-profile-details text-center">
                  <p class="pm-staff-profile-name">Bryan Johnson</p>
                  <p class="pm-staff-profile-title">Lead Software Engineer</p>
    
                  <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                  <div class="pm-staff-profile-image-wrapper text-center">
                    <div class="pm-staff-profile-image">
                      <img src="assets/imgs/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                    </div>
                  </div>
                  <div class="pm-staff-profile-details text-center">
                    <p class="pm-staff-profile-name">Bryan Johnson</p>
                    <p class="pm-staff-profile-title">Lead Software Engineer</p>
      
                    <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                      <div class="pm-staff-profile-image">
                        <img src="assets/imgs/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                      </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                      <p class="pm-staff-profile-name">Bryan Johnson</p>
                      <p class="pm-staff-profile-title">Lead Software Engineer</p>
        
                      <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                    </div>
                  </div>
                </div>

       </div>
    </div>
 </section>

<hr>
<section>
   <div class="container text-align: center;">
      <header class="section-header pl-5">
         <h3>Our Clients</h3>
      </header>
      <div class="row mt-3">
          <div class="col-lg-4 mt-4">
            <img src="assets/imgs/client-4.png" alt="" class="img">
         </div>
         <div class="col-lg-4 mt-4">
            <img src="assets/imgs/client-2.png" alt="" class="img">
         </div>
         <div class="col-lg-4 mt-4">
            <img src="assets/imgs/client-3.png" alt="" class="img circle">    
         </div>
      </div>
   </div>
</section>
<app-home-footer></app-home-footer>